<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from Commons App, <%= @subscriber[:name] %> </h1>
    <p>You have new notifications for the following bills:</p>
    <table> 
      <% @subscriber[:events].each do |event| %>
        <tr> 
          <th>Bill code</th> 
          <th>Latest Event</th> 
          <th>Date</th> 
        </tr> 
        <tr> 
          <td><%= event.code %></td> 
          <td><%= event.title %></td> 
          <td><%= event.publication_date %></td> 
        </tr> 
      <% end %>
    </table>
  </body>
</html>