development:
  database:
    :username: <psql username>
    :password: <psql password>

  uclassify:
    :api_read_key: <Add key from uclassify>
    :api_write_key: <Add key from uclassify>

  # Twilio login params
    ACCOUNT_SID: <twilio account sid>
    AUTH_TOKEN: <twilio auth token>
    PHONE_NUMBER: <twilio phone number>

  # URLs for fetching XML data
  LEGISINFO_URL: <legisinfo xml url>
  SUMMARY_URL: <summary xml url>

test:
  database:
    :username: <psql username>
    :password: <psql password>