development:
  database:
    :username: <psql username>
    :password: <psql password>

  uclassify:
    :api_read_key: <Add key from uclassify>
    :api_write_key: <Add key from uclassify>

test:
  database:
    :username: <psql username>
    :password: <psql password>